Flask
Flask-SQLAlchemy
Flask-Bcrypt
Flask-Login
Flask-WTF
Flask-Mail
Flask-Limiter
Authlib
google-auth
cloudinary
better-profanity
pywebpush
python-dotenv
itsdangerous
SQLAlchemy
Werkzeug
MarkupSafe
psycopg2-binary