name: Build Android App

on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'  # <--- AQUI ESTÁ A MUDANÇA IMPORTANTE

      - name: Install Dependencies
        run: npm install

      - name: Add Capacitor Android
        run: npx cap add android

      - name: Sync Capacitor
        run: npx cap sync android

      - name: Build APK Debug
        run: cd android && ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: aquanet-debug
          path: android/app/build/outputs/apk/debug/app-debug.apk

